body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

a {
    display: inline-flex;
  }

li a:hover {
  color: #ff6f00;
}

.btn-div {
  margin-top: 10px;
}

.dogcol {
  padding: 4px;
  margin: 10px;
}

.card {
  position: relative;
}

.highlight {
box-shadow: 2px 2px 49px -5px rgba(76,75,87,1);
}

.input-field label {
     color: #616161;
   }

.input-field input[type=text]:focus + label {
     color: #616161;
   }

.input-field input[type=text]:focus {
     border-bottom: 1px solid #4a148c;
     box-shadow: 0 1px 0 0 #4a148c;
}

.input-field input[type=text].valid {
     border-bottom: 1px solid #4a148c;
     box-shadow: 0 1px 0 0 #4a148c;
   }

.dropdown-content li>a, .dropdown-content li>span{
  color: #4a148c;
}

.select-dropdown {
  color: #4a148c;
}

.parallax-container {
  height: 180px;
}

.topImage {
  border-left: 7px solid white;
  margin-top: 30px;
  background: url(/Users/amanda/Projects/week05/dog-finder/Images/dreamstime_s_28865443.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     height: 300px;
}

.midImage {
  background: url(/Users/amanda/Projects/week05/dog-finder/Images/dreamstime_s_69763149.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     height: 300px;
}
.addMe {
  background-color: #4a148c;
  color: white;
  font-size: medium;
}

.addMeToo {
  font-size: large;
  color: white;
}
 .underdogs{
  color: black;
  font-weight: 100%;
}

.w{
  color: #4a148c;
  font-weight: 600;
  font-size: 500%;
}
.aboutBlurb {
  font-size: 1.1em;
}
.dogbio {
  font-weight: 400;
}
.manydogs{
  background: url(/Users/amanda/Projects/week05/dog-finder/Images/dreamstime_s_21846069.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     height: 300px;
}
.wheeldog {
  background: url(/Users/amanda/Projects/week05/dog-finder/Images/dreamstime_s_57801899.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     height: 250px;
     background-position: left;

}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 55%;
  left:50%;
}
.resources a {
  color: #4a148c;
}
/*.card .card-title {
    font-size: 24px;
    font-weight: 400;
    color: #4a148c;
}*/
.card-reveal a {
  color: #4a148c;
}
.card .card-content p {
  color: white;
  font-weight: 200;
}
.card .card-content .card-title {
  font-weight: 300;
  font-size: larger;
}
.card .card-reveal .card-title {
  color: #4a148c;
  font-weight: 500;
}
nav .brand-logo {
  color:purple;
}
nav .brand-logo i, nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"], nav .brand-logo i.material-icons {
  color: white;
}
.dogQuote {
font-size: 1.3em;
}
.quoteDiv{
  padding-left: 30px;
}
.rpageHeader {
  font-weight: 600;
  display: inline;
}
