body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }

  main {
    flex: 1 0 auto;
  }
.btn-div{
  margin-top: 10px;
}
a{
  display: inline-flex;
}
/*img{
  max-width: 100%;
      height: auto;
}*/
#revealLink{
 position: sticky;
}
.dogcol{
  padding: 4px;
  margin: 10px;
}
img{
  float: right;
}
.card{
  position: relative;
}
